html{
    --brown-color:  palegoldenrod;
    --green-color:  #02920b;
    --grey-color:rgb(201, 195, 195);
    --black-color:#191414;
    --white-color:#ffff;
    --lightgreen-color: #aed581;

  

}
